@(email: String, packs: List[String])

@import helper._


@main("cms") {
  
  <div id="index" email="@email">
    <h1>@email</h1>

    <div class="packs">
      @for(pack <- packs) {
        <div class="pack">
          @pack
          <a href="@routes.Application.packEdit(pack)" class="edit">edit</a>
          <div class="delete" data="@pack">delete</div>
        </div>
      }
    </div>

    <div class="pack">
      <a href="@routes.Application.packNew">add</a>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      var email = $('#index').attr('email');
      var packs = $('#index .pack');
      var deletePacks = $('#index .delete');
      deletePacks.each(function(i, d) {
        $(d).click(function() {
          var packName = $(d).attr('data');
          var url = 'delete/' + email + '/' + packName;
          $.getJSON(url, function(data, status, xhr) {
            if(xhr.status == 200) {
              if(data.result) {
                packs[i].remove();
              } else {
                alert('删除失败，请重试');
              }
            } else {
              alert('删除失败，请重试');
            }
          });
        });
      });

    });
  </script>
}
