body {
  width: 980px;
  margin: auto;
}

#index {

}

#index .packs {
  
}
#index .pack {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  border: 2px solid #aaa;
  text-align: center;
  vertical-align: top;
}
#index .pack .edit {

}
#index .pack .delete {

}
#index .pack .add {

}

#pack-page {
  
}

#pack-page .pictures {
  
}

#pack-page .picture {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  border: 2px solid #aaa;
  text-align: center;
  vertical-align: top;
}

#pack-page .picture img {
  max-width: 100px;
  max-height: 100px;
}

#pack-page .picture .delete {
}