body {
  width: 1024px;
  padding: 0;
  margin: 0 auto;
  min-height: 768px;
}

#index {

}

#index .packs {
  
}
#index .pack {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  border: 2px solid #aaa;
  text-align: center;
  vertical-align: top;
}
#index .pack .edit {

}
#index .pack .delete {

}
#index .pack .add {

}

#pack-page {
  
}

#pack-page .pictures {
  
}

#pack-page .picture {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  border: 2px solid #aaa;
  text-align: center;
  vertical-align: top;
}

#pack-page .picture img {
  max-width: 100px;
  max-height: 100px;
}

#pack-page .picture .delete {
}

#signin {
  background: #DDD;
  min-height: 768px;
}
.signin-panel {
  width: 280px;
  padding: 15px;
  margin: auto;
  background: #FFF;
  border-radius: 5px;
}
.signin-panel form {
  padding-top: 170px;
}
